* {
    font-size: 10px;
}

.container {
    box-sizing: border-box;
    display: flex;
    border: solid;
}

#navbar {
    width: 200px;
}

ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

script {
    position: absolute;
    display: none;
}

main {
    padding: 10px;
}

@media(max-width:768px) {
    .container {
        display: grid;
    }
}